/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"); */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.auth-wrapper {
  background: #3d8a62 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family:Montserrat;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: Montserrat;
} */

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  
  width: 425px;
  margin: auto;
  background: #c2d1b2;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
auth-inner-admin{
  width: 600px;
}
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  background-color: #B4E0A066;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0.18em 1em rgba(156, 156, 156, 0.3);
    outline: none;
box-shadow: 0 0.18em 1em rgba(156, 156, 156, 0.3);
border:transparent;

}



.auth-wrapper .form-control:focus {
  border-color: #c0cbd8;
  box-shadow: none;
  
  
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #28405f;
}

.locationCheckBox {
  display: flex;
  justify-content: space-between;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 25px;
  /* margin-bottom: 10px; */
}

.checkbox-label input {
  margin-right: 5px;
}

.checkbox-label label {
  margin-right: 10px;
}
.checkBoxLocations{
  text-align: justify;
  font-size: small;

} 
.left-checkboxes,
.right-checkboxes {
  flex: 1;
}
.d-grid button{
  width: 300px;
}

  